@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* Format */

* {
  margin: 0;
}

body {
  background-color: black;
}

.section {
  margin-bottom: 1rem;
}

pre {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  width: 100%;

  border-radius: 10px;
  padding: 15px 15px;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #f5f5f5;
  color: #444;
  border: 4px solid #1e40af;
  box-shadow:
    #1e40af -1px -1px 20px 5px,
    #1e40af 0px 0px 0px 0.2px;
}
.hljs-comment {
  color: #697070;
}
.hljs-punctuation,
.hljs-tag {
  color: #444a;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: #444;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: #800;
}
.hljs-section,
.hljs-title {
  color: #800;
  font-weight: 700;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #ab5656;
}
.hljs-literal {
  color: #695;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta .hljs-string {
  color: #38a;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}

/* Main */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  background-color: #1e40af;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 1rem;
  line-height: 28px;
  margin: 0;
  color: white;
  margin-bottom: 0.5em;
}

h4 {
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  color: white;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

code {
  font-weight: 500;
  background-color: aqua;
  font-size: 14px;
}

hr {
  height: 4px;
  width: 100%;
  background-color: black;
}

footer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  background-color: rgb(0, 0, 0);
  padding: 1px;
  text-align: center;
}

footer > h4 {
  color: white;
}

a {
  color: hotpink;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    margin: auto;
  }

  h1 {
    font-size: 2.5rem;
  }
}
